.wrapper {
    border-left: 1px solid #1d2331;
}

.room {
    height: 100vh;
}

.header {
    height: 80px;
    background-color: var(--iq-primary-bg);
    border-bottom: 1px solid #1d2331;

    .avatar {
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            right: 10px;
            background-color: #54a056;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid;
        }
    }

    figure {
        width: 40px;
        height: 40px;
    }
    span {
        color: #60656d;
    }
}

.body {
    background-color: #0f1523;
    height: 0;

    .container {
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.footer {
    border-top: 1px solid #1d2331;
    height: 80px;
    background-color: var(--iq-primary-bg);

    .message__content {
        outline: none;
        background-color: var(--ip-second-bg);
        border: none;
        padding: 8px 20px;
        padding-right: 40px;
        color: var(--iq-white);
        border-radius: 999999px;
        user-select: text;
        white-space: pre-wrap;
        word-break: break-word;
        overflow-y: scroll;
        max-height: 60px;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.info_conver {
    border-left: 1px solid #1d2331;
    height: 100vh;
    background-color: var(--iq-primary-bg);
    span {
        color: #60656d;
        font-size: 15px;
    }
}

.text {
    color: #60656d;
    width: 16px;
}
