.action {
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
}

.container {
    &:hover {
        .action {
            opacity: 1;
            visibility: visible;
        }
    }
}

.emoji__container {
    margin-bottom: 0px;
    margin-right: -4px;
}

.active {
    background-color: #3e4042;
}
